* {
    margin: 0;
    padding: 0;
}

section {
    padding: 68px 0;
}
.animate-bounce {
    animation: bounce 7s infinite !important;
}

.animate-bounce2 {
    animation: bounce 4s infinite !important;
}

img.ImgIcon {
    rotate: -36deg;
}

section.service-bg {
    background-image: url(../assets/images/service-bg.jpg);
    background-position: center;
    background-size: cover;
}

.Contactbg {
    background-image: url(../assets/images/contactbg.jpg);
}

.box-shadow1 {
    box-shadow: 10px 10px 0px #c19b57;
}

.price-bg {
    background-image: url(../assets/images/pricebg.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}
@keyframes spin-slow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Media Query */
@media only screen and (max-width: 768px) {
    section {
        padding: 22px 0;
    }
    .about {
        background-position: center;
    }
    .responsiveimg {
        width: 100px;
    }

    ul.navigation {
        padding: 0;
    }

    .banner h1 {
        font-size: 38px;
        line-height: normal;
    }

    .banner h2 {
        font-size: 36px;
        line-height: normal;
    }

    .responsivebtn {
        display: none;
    }

    .banner p {
        font-size: 18px;
    }

    .nextprebtn, .ImgIcon3 {
        display: none;
    }

    .headingset {
        font-size: 30px;
        line-height: normal;
    }

    .tab-section button {
        padding: 12px 8px;
        line-height: normal;
    }

    .tab-section button span {
        font-size: 14px;
        white-space: nowrap;
    }

    .smdone {
        display: none;
    }

    .customborder {
        border: none;
    }

    .responsive-group span,
    .textsize {
        font-size: 16px;
    }

    .customborder.flex.gap-8.border-b.border-gray-200.py-8 {
        gap: 0rem;
        padding: 16px 0px;
    }
    .bradcrm {
        display: none;
    }
    .responsiveimg{
        width: 80px;
    }
}
@media (min-width: 767px) and (max-width: 991px) {
    header .responsiveimg {
        width: 90px;
    }
    header .navigation li a {
        font-size: 15px;
    }
    header .responsivebtn {
        padding: 6px 12px;
    }
    }